<main>
    <form class="product-form">
        <input type="text" name="name"/>
        <input type="number" name="price"/>
        <textarea name="description"></textarea>
       <button type="button">Enregistrer</button>
    </form>
</main>