<main class="product">
    <div class="product__image"></div>
    <div class="product__content">
        <h2>{{product?.name}}</h2>
        <p>{{product?.description}}</p>
    </div>
    <div class="product__actions">
        <button>Ajouter au panier</button>
    </div>
</main>
