<main class="wrapper">
    <h2>My products</h2>
    <ul class="products products-list">
        <li *ngFor="let product of products">
            <app-product-item [product]="product"/>
        </li>
    </ul>
</main>
