/* You can add global styles to this file, and also import other style files */
@import "./css/color.scss";

*, html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    padding-inline: 1rem;
}