<main class="top-bar">
   <div class="top-bar__content wrapper">
    <span>My Store</span>
    <button>
        <span>icon</span>
        <span>Checkout</span>
    </button>
    <button>Add product</button>
   </div>
</main>