.top-bar{
    background-color: var(--color-primary);
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 0.8rem;
        &>span{
            color: white;
        }
        button{
            color: var(--color-primary) !important;
            padding-inline: 1rem;
            padding-block: 0.5rem;
        }
    }
}